/*.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}*/

.nav-link:hover {
    opacity: 1;
    color: rgb(255, 255, 255) !important;
    background-color:#15485339;
    border-radius: 10px;
  }

.active:hover{
  border-radius: 0px;
  background-color: #1586AA;
}



#CV-button:hover {
  opacity: 1;
  filter: drop-shadow(#154853 0.1rem 0.1rem 5px);
}
