html, body, #root, .App {
    height: 100%;
    margin: 0;
    /*background-color: #1586AA; /* Satte denna som default background color */
    overflow: hidden /*disable scroll*/
}

body {
  background-color: #1586AA;
  background-image: url('../images/wave.svg');
  /*Set background image to the bottom of the page,*/
  background-position: center calc(100% + 400px);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}



/* ----------------------- Layout ----------------------- */

.content-container {
  padding-top: 60px;
}

.full-height {
    min-height: 100%; /* Mitt försök att göra så att Navbar inte ska göra så att sidan pushas ner */
    height: 100%;
}

.left-half{
  display: flex;       
  flex-direction: column; 
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.right-half{
  display: flex;       
  flex-direction: column; 
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.half-box{
  height: 30%;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.navbar-nav {
  width: 100%;
}

.nav-link { /* Detta betyder att stylingen appliceras på allt som är en navlink class */
  color: white !important; 
  padding-left:100px ;
  padding-right:35px ;
  align-self: center;
  opacity: 0.7;
  font-size: 1.1em;
  border-radius: 10px;
}

.align-navitems {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-custom-icon {
  max-width: 50%;
}

.centered-image {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
}


/* ----------------------- Color Scheme ----------------------- */

.fancy-color{
    background-color: rgb(57, 80, 254);
}

.white-svg {
  filter: invert(100%);
  opacity: 1;
}

.mainBackground {
  background: #1586AA;
}


.bit-girl{ /* 
    max-width: 50%;
    max-height: 50%; */
    border-radius: 50%;
    object-fit: cover; 
    height: auto; 
    width: 50%;
    padding: 0;
    margin-top: -80px;
}

.maxWidth {
  max-width: 100%;
  max-height: 100%;
}


.blue-background {
  background-color: blue;
}
.red-background {
  background-color: red;
}
.green-background {
  background-color: green;
}
.yellow-background {
  background-color: yellow;
}
.purple-background {
  background-color: purple;
}

/* ----------------------- Text Styling ----------------------- */


.active {  /* Detta betyder att stylingen appliceras på allt som är en "active" class */
  border-bottom: 1px solid currentColor !important; 
  border-bottom-width: 0.5px;
  /*padding-bottom: 2px !important;  Detta bestämmer distansen till underlinen, Eller ja... det borde göra det men piss-koden funkar inte :( Den typ flyttar runt "active" element på något whack sätt istället*/
  opacity: 1;
  border-radius: 0px;
}

.inactive {
  opacity: 0.6;
}

.headline {  
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center; 
  padding: 0 10%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

#headline-text {
  width: 70%;
  text-align: start;
  font-size: 2.5em;
  color: white;
  opacity: 1;
}


.description{
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 0 10%;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.admin-text{
  width: 60%;
  text-align: start;
  color: white;
  opacity: 0.9;
}

#description-text {
  width: 60%;
  text-align: start;
  font-size: 1.2em;
  color: white;
  opacity: 1;
}

.center-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}




/* ----------------------- Custom Components ----------------------- */



.navbar-custom {
  background-color: #1586AA;
  position: fixed !important; 
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
} 

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.navbar-item {
  padding: 0 10px;
  color: white;
  opacity: 0.6;
}

#CV-button {
  background-color: #154853;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  opacity: 0.8;
  transition: 0.3s;
  filter: drop-shadow(0px 4px 1px #0c2930);
  /* center button */
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
  width: auto;
}


#social-media-icon {
  width: 100%;
  height: 100%;
  margin: 10px;
  transition: 0.3s;
  filter: drop-shadow(0px 2px 4px #154853);
  opacity: 0.8;
}

#social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  background-color: transparent;
  border: none;
}

#social-media-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  vertical-align: top;
  
}