html, body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
    background-color: rgb(255, 153, 0);

}
.half-box{
  height: 50%;
  background-color: rgb(0, 255, 4);
}

.fancy-color{
    background-color: rgb(57, 80, 254);
}

.bit-girl{
    size: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
